{form form}
	<div class="d-flex align-items-center pt-2 pb-4">
		{input quantity, class => "form-select me-3", style => "width: 5rem;"}
		<button n:name="send" type="submit" class="btn btn-{if $isAllowed}primary{else}secondary{/if} btn-shadow d-block w-100">
			<i class="ci-cart fs-lg me-2"></i>{if $isAllowed}Přidat do košíku{else}Nelze přidat do košíku{/if}
		</button>
	</div>
{/form}