services:
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	authorizator: Eshop\Model\Security\AuthorizatorFactory::create
	- Eshop\Router\RouterFactory::createRouter

	# ORM Services
	- Eshop\Model\ORM\Services\UserService

	# commands
	- Eshop\Console\CreateUserCommand
