services:
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	authorizator: Eshop\Model\Security\AuthorizatorFactory::create
	- Eshop\Router\RouterFactory::createRouter

	# ORM Services
	- Eshop\Model\ORM\Services\UserService
	- Eshop\Model\ORM\Services\ProductService
	- Eshop\Model\ORM\Services\BasketService

	# commands
	- Eshop\Console\CreateUserCommand

	# components
	- Eshop\Components\AddBasketFactory
